# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Backend CI

on:
  push:
    branches: [main]
    paths:
      - "backend/**"
      - ".github/workflows/**"
  pull_request:
    branches: [main]
    paths:
      - "backend/**"
      - ".github/workflows/**"

defaults:
  run:
    working-directory: backend

jobs:
  build-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run backend tests
        uses: actions/setup-node@v1
        with:
          node-version: "15.x"
      - run: yarn
      - run: yarn test
